@include export-module('dropdownlist-layout') {
  .e-bigger .e-input-group.e-ddl {
    & .e-input-filter,
    & .e-input-filter:focus {
      margin-left: -20px;
    }
  }

  .e-bigger .e-ddl.e-popup {
    & .e-list-item,
    & .e-list-group-item {
      font-size: $bigger-list-font-size;
    }

    & .e-input-group {
      padding: 4px 0;
    }
  }

  .e-popup-full-page {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    right: 0;
    top: 0;
  }

  .e-ddl .e-ddl-disable-icon {
    position: relative;
  }

  .e-ddl .e-ddl-disable-icon::before {
    content: '';
  }

  .e-bigger .e-ddl-device .e-input-group {
    margin-left: 52px;
  }

  .e-bigger .e-ddl-device .e-input-group .e-clear-icon {
    margin-right: $clear-icon-margin-right;
  }

  .e-ddl-device-filter .e-filter-parent {
    background-color: $filter-background-color;
  }

  .e-filter-parent {
    border: $filter-border;
    border-top-width: $filter-top-border;
    box-shadow: $filter-box-shadow;
    display: block;
    padding: $filter-padding;
  }

  .e-ddl.e-input-group:not(.e-disabled) {
    cursor: pointer;
  }

  .e-ddl.e-popup.e-ddl-device-filter {
    @at-root {
      & .e-input-group.e-input-focus::before,
      & .e-input-group.e-input-focus::after {
        width: 0;
       }
     }
   }

  .e-ddl.e-popup {
    background: $popup-background-color;
    border: 1px solid $default-border-color;
    position: absolute;
    @at-root {
      & .e-search-icon {
        margin: 0;
        opacity: .57;
        padding: $list-search-icon-padding;
      }

      & .e-back-icon {
        margin: $back-icon-margin;
        padding: $back-icon-padding;
        position: absolute;
      }

      & .e-input-filter,
      & .e-input-filter:focus {
        padding: 0 $list-filter-text-indent;
      }

      & .e-input-group {
        margin-bottom: 0;
      }

      & .e-ddl-footer,
      & .e-ddl-header {
        cursor: default;
      }
    }
  }

  .e-bigger .e-popup .e-clear-icon {
    visibility: hidden;
  }

  .e-input-group,
  .e-input-group.e-input-focus:focus {
    outline: none;
  }

  .e-dropdownbase .e-list-item .e-highlight {
    display: inline;
    font-weight: bold;
    vertical-align: baseline;
  }

  .e-ddl.e-input-group input[readonly] ~ .e-clear-icon:not(.e-clear-icon-hide),
  .e-float-input input[readonly] ~ .e-clear-icon:not(.e-clear-icon-hide),
  .e-float-input.e-input-group input[readonly] ~ .e-clear-icon:not(.e-clear-icon-hide) {
    display: block;
  }

  .e-ddl {
    .e-input-value,
    .e-input-value:focus {
      font-family: $input-font-family;
      font-size: $input-font-size;
      height: auto;
      margin: $zero-value;
      outline: none;
      width: 100%;
    }

    input[readonly].e-input,
    input[readonly],
    .e-dropdownlist {
      pointer-events: none;
    }
  }
}
