$btn-color: rgba($grey-black, .87);
$btn-bgcolor: $grey-50;
$btn-border-radius: 2px;
$btn-hover-border-color: $btn-border-color;
$btn-active-border-color: $btn-border-color;
$btn-hover-color: $btn-color;
$btn-focus-color: $btn-color;
$btn-active-color: $btn-color;
$btn-small-height: 24px;
$btn-height: 27px;
$btn-bigger-height: 36px;
$btn-bigger-small-height: 32px;
$btn-focus-border-color: $btn-border-color;
$btn-text-transform: uppercase;
$btn-box-shadow: 0 2px 5px 0 rgba($grey-black, .26);
$btn-hover-bgcolor: rgba($grey-black, .12);
$btn-active-bgcolor: rgba($grey-white, .12);
$btn-active-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
$btn-disabled-color: rgba($grey-black, .26);
$btn-disabled-bgcolor: $btn-hover-bgcolor;
$btn-disabled-border-color: $btn-border-color;
$btn-primary-color: $grey-dark-font;
$btn-primary-hover-color: $btn-primary-color;
$btn-primary-focus-color: $btn-primary-color;
$btn-primary-active-color: $btn-primary-color;
$btn-primary-bgcolor: $accent;
$btn-primary-hover-bgcolor: #e03872;
$btn-primary-active-bgcolor: #ff5790;
$btn-primary-border-color: $btn-border-color;
$btn-primary-hover-border-color: $btn-border-color;
$btn-primary-focus-border-color: $btn-border-color;
$btn-primary-active-border-color: $btn-border-color;
$btn-success-border-color: $btn-border-color;
$btn-success-hover-border-color: $btn-border-color;
$btn-success-focus-border-color: $btn-border-color;
$btn-success-active-border-color: $btn-border-color;
$btn-info-border-color: $btn-border-color;
$btn-info-hover-border-color: $btn-border-color;
$btn-info-focus-border-color: $btn-border-color;
$btn-info-active-border-color: $btn-border-color;
$btn-warning-border-color: $btn-border-color;
$btn-warning-hover-border-color: $btn-border-color;
$btn-warning-focus-border-color: $btn-border-color;
$btn-warning-active-border-color: $btn-border-color;
$btn-danger-border-color: $btn-border-color;
$btn-danger-hover-border-color: $btn-border-color;
$btn-danger-focus-border-color: $btn-border-color;
$btn-danger-active-border-color: $btn-border-color;
$btn-flat-color: $accent;
$btn-flat-border: $btn-border;
$btn-flat-border-color: transparent;
$btn-flat-hover-color: $btn-flat-color;
$btn-flat-focus-color: $btn-flat-color;
$btn-flat-active-color: $btn-flat-color;
$btn-flat-bgcolor: transparent;
$btn-flat-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-primary-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-success-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-info-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-warning-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-danger-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-box-shadow: none;
$btn-flat-active-bgcolor: rgba(255, 87, 144, .12);
$btn-flat-primary-active-bgcolor: rgba(255, 87, 144, .12);
$btn-outline-color: $btn-color;
$btn-outline-hover-color: $btn-color;
$btn-outline-focus-color: $btn-color;
$btn-outline-active-color: $btn-color;
$btn-outline-focus-bgcolor: $btn-outline-hover-bgcolor;
$btn-bigger-font-size: $btn-font-size;
$btn-bigger-small-font-size: $btn-font-size;
$btn-icon-font-size: 11px;
$btn-small-icon-font-size: 11px;
$btn-bigger-icon-font-size: 11px;
$btn-bigger-small-icon-font-size: 11px;
$btn-round-bgcolor: $btn-bgcolor;
$btn-round-color: $btn-color;
$btn-round-border-color: $btn-border-color;
$btn-round-hover-bgcolor: $btn-hover-bgcolor;
$btn-round-hover-color: $btn-color;
$btn-round-height: 42px;
$btn-round-width: 42px;
$btn-round-bigger-height: 56px;
$btn-round-bigger-width: 56px;
$btn-round-font-size: 14px;
$btn-small-round-font-size: 12px;
$btn-bigger-round-font-size: 16px;
$btn-bigger-small-round-font-size: 14px;
$btn-success-focus-bgcolor: $btn-success-hover-bgcolor;
$btn-success-active-bgcolor: $btn-success-hover-bgcolor;
$btn-info-focus-bgcolor: $btn-info-hover-bgcolor;
$btn-info-active-bgcolor: $btn-info-hover-bgcolor;
$btn-warning-focus-bgcolor: $btn-warning-hover-bgcolor;
$btn-warning-active-bgcolor: $btn-warning-hover-bgcolor;
$btn-danger-focus-bgcolor: $btn-danger-hover-bgcolor;
$btn-danger-active-bgcolor: $btn-danger-hover-bgcolor;
$btn-flat-primary-color: $btn-primary-bgcolor;
$btn-flat-success-color:  $btn-success-bgcolor;
$btn-flat-info-color:  $btn-info-bgcolor;
$btn-flat-warning-color:  $btn-warning-bgcolor;
$btn-flat-danger-color:   $btn-danger-bgcolor;
$btn-flat-primary-hover-color: $btn-primary-bgcolor;
$btn-flat-success-hover-color: $btn-success-bgcolor;
$btn-flat-info-hover-color: $btn-info-bgcolor;
$btn-flat-warning-hover-color: $btn-warning-bgcolor;
$btn-flat-danger-hover-color: $btn-danger-bgcolor;
$btn-flat-primary-focus-color: $btn-primary-bgcolor;
$btn-flat-success-focus-color: $btn-success-bgcolor;
$btn-flat-info-focus-color: $btn-info-bgcolor;
$btn-flat-warning-focus-color: $btn-warning-bgcolor;
$btn-flat-danger-focus-color: $btn-danger-bgcolor;
$btn-flat-primary-active-color: $btn-primary-bgcolor;
$btn-flat-success-active-color: $btn-success-bgcolor;
$btn-flat-info-active-color: $btn-info-bgcolor;
$btn-flat-warning-active-color: $btn-warning-bgcolor;
$btn-flat-danger-active-color: $btn-danger-bgcolor;
$btn-flat-success-focus-bgcolor: $btn-flat-success-hover-bgcolor;
$btn-flat-info-focus-bgcolor: $btn-flat-info-hover-bgcolor;
$btn-flat-warning-focus-bgcolor: $btn-flat-warning-hover-bgcolor;
$btn-flat-danger-focus-bgcolor: $btn-flat-danger-hover-bgcolor;
$btn-icon-margin-left: -8px;
$btn-icon-margin-right: -8px;
$btn-bigger-icon-margin-left: -12px;
$btn-bigger-icon-margin-right: -12px;
$btn-bigger-small-icon-margin-left: -12px;
$btn-bigger-small-icon-margin-right: -12px;
$btn-round-icon-line-height: 28px;
$btn-small-round-icon-line-height: 18px;
$btn-text-line-height: 25px;
$btn-bigger-text-line-height: 35px;
$btn-icon-padding: 0 7px;
$btn-small-icon-padding: 0 5px;
$btn-bigger-icon-padding: 0 8px;
$btn-bigger-small-icon-padding: 0 7px;
$btn-small-text-line-height: 22px;
$btn-bigger-small-text-line-height: 30px;
$btn-primary-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-success-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-info-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-warning-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-danger-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-primary-disabled-color: $btn-disabled-color;
$btn-success-disabled-color: $btn-disabled-color;
$btn-info-disabled-color: $btn-disabled-color;
$btn-warning-disabled-color: $btn-disabled-color;
$btn-danger-disabled-color: $btn-disabled-color;
$btn-primary-disabled-border-color: $btn-disabled-border-color;
$btn-success-disabled-border-color: $btn-disabled-border-color;
$btn-info-disabled-border-color: $btn-disabled-border-color;
$btn-warning-disabled-border-color: $btn-disabled-border-color;
$btn-danger-disabled-border-color: $btn-disabled-border-color;
$btn-flat-primary-disabled-color: $btn-disabled-color;
$btn-flat-success-disabled-color: $btn-disabled-color;
$btn-flat-info-disabled-color: $btn-disabled-color;
$btn-flat-warning-disabled-color: $btn-disabled-color;
$btn-flat-danger-disabled-color: $btn-disabled-color;
$btn-outline-primary-disabled-color: $btn-disabled-color;
$btn-outline-success-disabled-color: $btn-disabled-color;
$btn-outline-info-disabled-color: $btn-disabled-color;
$btn-outline-warning-disabled-color: $btn-disabled-color;
$btn-outline-danger-disabled-color: $btn-disabled-color;
$btn-outline-primary-disabled-border-color: $btn-disabled-border-color;
$btn-outline-success-disabled-border-color: $btn-disabled-border-color;
$btn-outline-info-disabled-border-color: $btn-disabled-border-color;
$btn-outline-warning-disabled-border-color: $btn-disabled-border-color;
$btn-outline-danger-disabled-border-color: $btn-disabled-border-color;
$btn-outline-active-box-shadow: $btn-flat-box-shadow;
$btn-round-small-height: 30px;
$btn-round-small-width: 30px;
$btn-round-bigger-small-height: 40px;
$btn-round-bigger-small-width: 40px;
$btn-flat-primary-bgcolor: $btn-flat-bgcolor;
$btn-flat-success-bgcolor: $btn-flat-bgcolor;
$btn-flat-info-bgcolor: $btn-flat-bgcolor;
$btn-flat-warning-bgcolor: $btn-flat-bgcolor;
$btn-flat-danger-bgcolor: $btn-flat-bgcolor;
$btn-flat-hover-border-color: $btn-flat-border-color;
$btn-flat-active-border-color: $btn-flat-border-color;
$btn-flat-focus-border-color: $btn-flat-border-color;
$btn-flat-disabled-border-color: $btn-flat-border-color;
$btn-flat-primary-border-color: $btn-flat-border-color;
$btn-flat-primary-hover-border-color: $btn-flat-border-color;
$btn-flat-primary-active-border-color: $btn-flat-border-color;
$btn-flat-primary-focus-border-color: $btn-flat-border-color;
$btn-flat-primary-disabled-border-color: $btn-flat-border-color;
$btn-flat-success-border-color: $btn-flat-border-color;
$btn-flat-success-hover-border-color: $btn-flat-border-color;
$btn-flat-success-active-border-color: $btn-flat-border-color;
$btn-flat-success-focus-border-color: $btn-flat-border-color;
$btn-flat-success-disabled-border-color: $btn-flat-border-color;
$btn-flat-info-border-color: $btn-flat-border-color;
$btn-flat-info-hover-border-color: $btn-flat-border-color;
$btn-flat-info-active-border-color: $btn-flat-border-color;
$btn-flat-info-focus-border-color: $btn-flat-border-color;
$btn-flat-info-disabled-border-color: $btn-flat-border-color;
$btn-flat-warning-border-color: $btn-flat-border-color;
$btn-flat-warning-hover-border-color: $btn-flat-border-color;
$btn-flat-warning-active-border-color: $btn-flat-border-color;
$btn-flat-warning-focus-border-color: $btn-flat-border-color;
$btn-flat-warning-disabled-border-color: $btn-flat-border-color;
$btn-flat-danger-border-color: $btn-flat-border-color;
$btn-flat-danger-hover-border-color: $btn-flat-border-color;
$btn-flat-danger-active-border-color: $btn-flat-border-color;
$btn-flat-danger-focus-border-color: $btn-flat-border-color;
$btn-flat-danger-disabled-border-color: $btn-flat-border-color;
$btn-flat-active-box-shadow: $btn-flat-box-shadow;
$btn-outline-primary-hover-border-color: $btn-outline-border-color;
$btn-outline-primary-focus-border-color: $btn-outline-border-color;
$btn-outline-primary-active-border-color: $btn-outline-border-color;
$btn-round-hover-border-color: $btn-round-hover-bgcolor;
$btn-round-focus-color: $btn-focus-color;
$btn-round-active-color: $btn-active-color;
