@include export-module('tooltip-theme') {
  /*! Tooltip theme */
  .e-tooltip-wrap {
    border-radius: $tooltip-border-radius;
    filter: $tooltip-drop-shadow;
    opacity: $tooltip-opacity;

    &.e-popup {
      background-color: $tooltip-content-bg-color;
      border: $border-size $border-type $tooltip-content-border-color;
    }

    /*! tooltip arrow */
    .e-arrow-tip-outer {
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;

      &.e-tip-bottom {
        border-left: $tooltip-arrow-outer-border $border-type transparent;
        border-right: $tooltip-arrow-outer-border $border-type transparent;
        border-top: $tooltip-arrow-outer-border $border-type $tooltip-content-border-color;
      }

      &.e-tip-top {
        border-bottom: $tooltip-arrow-outer-border $border-type $tooltip-content-border-color;
        border-left: $tooltip-arrow-outer-border $border-type transparent;
        border-right: $tooltip-arrow-outer-border $border-type transparent;
      }

      &.e-tip-left {
        border-bottom: $tooltip-arrow-outer-border $border-type transparent;
        border-right: $tooltip-arrow-outer-border $border-type $tooltip-content-border-color;
        border-top: $tooltip-arrow-outer-border $border-type transparent;
      }

      &.e-tip-right {
        border-bottom: $tooltip-arrow-outer-border $border-type transparent;
        border-left: $tooltip-arrow-outer-border $border-type $tooltip-content-border-color;
        border-top: $tooltip-arrow-outer-border $border-type transparent;
      }
    }

    .e-arrow-tip-inner {
      height: 0;
      position: absolute;
      width: 0;

      &.e-tip-bottom {
        border-left: $tooltip-arrow-inner-border $border-type transparent;
        border-right: $tooltip-arrow-inner-border $border-type transparent;
        border-top: $tooltip-arrow-inner-border $border-type $tooltip-content-bg-color;
        left: 1px;
        top: 0;
      }

      &.e-tip-top {
        border-bottom: $tooltip-arrow-inner-border $border-type $tooltip-content-bg-color;
        border-left: $tooltip-arrow-inner-border $border-type transparent;
        border-right: $tooltip-arrow-inner-border $border-type transparent;
        left: 1px;
        top: 1px;
      }

      &.e-tip-left {
        border-bottom: $tooltip-arrow-inner-border $border-type transparent;
        border-right: $tooltip-arrow-inner-border $border-type $tooltip-content-bg-color;
        border-top: $tooltip-arrow-inner-border $border-type transparent;
        left: 1px;
        top: 1px;
      }

      &.e-tip-right {
        border-bottom: $tooltip-arrow-inner-border $border-type transparent;
        border-left: $tooltip-arrow-inner-border $border-type $tooltip-content-bg-color;
        border-top: $tooltip-arrow-inner-border $border-type transparent;
        left: 0;
        top: 1px;
      }
    }

    /*! tooltip sticky mode close icon */
    .e-tooltip-close {
      background-color: $tooltip-icon-bg-normal;
      border-radius: 8px;
      color: $tooltip-default-icon-color;
    }

    .e-tooltip-close:hover {
      background-color: $tooltip-icon-bg-hover;
      color: $tooltip-hover-icon-color;
    }

    /*! tooltip content area */
    .e-tip-content {
      color: $tooltip-content-font-color;
      font-family: $font-family;
      font-size: $tooltip-font-size;
    }
  }

  /*! bigger style */
  .e-bigger .e-tooltip-wrap .e-tip-content,
  &.e-tooltip-wrap.e-bigger .e-tip-content {
    font-size: $tooltip-mobile-font-size;
  }
}
