@include export-module('listview-theme') {
  .e-listview {
    border-color: $listview-line-color;
    font-family: $listview-font-family;
    font-size: $listview-font-size;
    @at-root {
      & .e-list-header {
        background-color: $listview-header-bg;
        border-color: $listview-header-border;
        color: $listview-header-text-color;
        display: block;
        font-size: $listview-header-font-size;
      }

      & .e-list-header > * {
        display: table-cell;
      }

      & .e-icons {
        color: $listview-icon-color;
      }

      & .e-list-item {
        background-color: $listview-background;
        border-bottom: $listview-border-bottom solid $listview-border-bottom-color;
        border-color: $listview-line-color;
        color: $listview-text-color;
      }

      & .e-list-item.e-hover {
        background-color: $listview-item-hover-bg;
        color: $listview-text-hover-color;
      }

      & .e-list-item.e-active {
        background-color: $listview-item-active-bg;
        color: $listview-text-active-color;
      }

      & .e-list-group-item {
        background-color: $listview-groupheader-bg;
        border-color: $listview-header-border;
        color: $listview-groupheader-text-color;
        font-size: $listview-groupheader-font-size;
      }
    }
  }
}
