$background-color: #fff;
$border: 2px solid;
$border-color: #ccc;
$bigger-font-size: 14px;
$bigger-height: 24px;
$bigger-line-height: 23px;
$bigger-padding: 36px;
$bigger-ripple-position: -11px;
$bigger-ripple-size: 48px;
$bigger-small-ripple-size: 36px;
$bigger-small-height: 22px;
$bigger-small-line-height: 20px;
$bigger-small-padding: 34px;
$bigger-small-width: 22px;
$bigger-width: 24px;
$checked-border-color: #ff4081;
$checked-color: #ff4081;
$checked-ripple-bgcolor: #ff4081;
$check-transition: none;
$disabled-border-color: #bdbdbd;
$disabled-checked-color: #bdbdbd;
$disabled-color: #bdbdbd;
$focus-ripple-bgcolor: #000;
$focussed-bgcolor: rgba(48, 48, 48, .12);
$focussed-border-color: #767676;
$focussed-box-shadow: none;
$font-color: #000;
$font-size: 13px;
$height: 20px;
$hover-bgcolor: #fff;
$hover-border-color: #757575;
$hover-check-bg-color: #ff4081;
$hover-check-border-color: #ff4081;
$icon-left: 5px;
$icon-top: 0;
$icon-right: 0;
$line-height: 20px;
$padding: 31px;
$ripple-bgcolor:  rgba(0, 0, 0, .3);
$ripple-position: -8px;
$ripple-size: 36px;
$small-height: 16px;
$small-line-height: 13px;
$small-padding: 26px;
$small-ripple-position: -10px;
$small-width: 16px;
$width: 20px;
