$background-color: $neutral-white;
$border: 2px solid;
$border-color: $neutral-tertiary;
$bigger-font-size: 15px;
$bigger-height: 24px;
$bigger-line-height: 24px;
$bigger-padding: 34px;
$bigger-ripple-size: 48px;
$bigger-small-height: 22px;
$bigger-small-line-height: 20px;
$bigger-small-padding: 30px;
$bigger-small-width: 22px;
$bigger-width: 24px;
$checked-border-color: $theme-primary;
$checked-color: $theme-primary;
$check-transition: none;
$disabled-border-color: $neutral-tertiary-alt;
$disabled-color: $neutral-tertiary-alt;
$disabled-checked-color: $theme-primary;
$font-color: $neutral-light-font;
$font-size: 14px;
$focussed-box-shadow: none;
$height: 20px;
$hover-bgcolor: $neutral-white;
$hover-border-color: $neutral-secondary-alt;
$hover-check-bg-color: $theme-dark-alt;
$hover-check-border-color: $theme-dark-alt;
$icon-left: 0;
$icon-right: 0;
$icon-top: 0;
$line-height: 20px;
$padding: 28px;
$small-height: 16px;
$small-line-height: 16px;
$small-padding: 24px;
$small-width: 16px;
$width: 20px;
