$background-color: $grey-white;
$border: 2px solid;
$border-color: $grey-600;
$bigger-font-size: 14px;
$bigger-height: 24px;
$bigger-line-height: 24px;
$bigger-padding: 36px;
$bigger-ripple-position: -11px;
$bigger-ripple-size: 46px;
$bigger-small-ripple-size: 40px;
$bigger-small-height: 22px;
$bigger-small-line-height: 20px;
$bigger-small-padding: 32px;
$bigger-small-width: 22px;
$bigger-width: 24px;
$checked-border-color: $accent;
$checked-color: $accent;
$checked-ripple-bgcolor: rgba($accent, .26);
$check-transition: transform ease 280ms, background-color ease 280ms;
$disabled-border-color: $grey-400;
$disabled-checked-color: $grey-400;
$disabled-color: $grey-400;
$focus-ripple-bgcolor: rgba($grey-black, .12);
$focussed-box-shadow: none;
$font-color: rgba($grey-light-font, .87);
$font-size: 13px;
$focussed-box-shadow: none;
$height: 20px;
$hover-bgcolor: $accent-font;
$hover-border-color: $grey-600;
$hover-check-bg-color: $accent;
$icon-left: 0;
$icon-right: 0;
$icon-top: 0;
$line-height: 20px;
$padding: 30px;
$ripple-bgcolor: rgba($grey-black, .12);
$ripple-position: -8px;
$ripple-size: 36px;
$small-height: 16px;
$small-line-height: 16px;
$small-padding: 26px;
$small-ripple-position: -10px;
$small-width: 16px;
$width: 20px;
